<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib</directory>
        </whitelist>
    </filter>
</phpunit>
