test/coverage/*
dist/
composer.lock
vendor
.env
sendgrid.env
composer.phar
.editorconfig
test.php
.idea/
test/prism_linux_amd64
test/prism/*
!test/prim
*.code-workspace
.vscode
prism*
temp.php
example*.php
TODO.txt
sendgrid-php.zip
